@model AdminRegisterVM
@{
//Layout = null;
}

<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <form method="post">

                                <div class="form-outline mb-4">
                                    <input type="text" asp-for="Username" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">FullName</label><br />
                                    <span class="text-danger" asp-validation-for="Username"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    @*<input type="text" asp-for="Role" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">UserName</label><br />
                                    <span class="text-danger" asp-validation-for="Role"></span>*@
                                    <select class="form-control form-control-lg" asp-for="Role" asp-items="@(new SelectList(Model.Roles,"Name","Name"))">
                                    </select>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" asp-for="Email" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example3cg">Your Email</label><br />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Password</label><br />
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cdg">Confirm Password</label><br />
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>



                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

