@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="medium-4  columns">
    <div class="cart">
        <h1>Cart items</h1>
        <div class="row">
            <div class="medium-6 columns">
                <button class="tiny secondary" id="clear">Clear the cart</button>
            </div>
            <div class="medium-6 columns">
                <button class="tiny disabled" title="Work in progress">Checkout</button>
            </div>
        </div>
        <div id="cartItems">Loading cart...</div>
        Total price: <strong id="totalPrice"></strong>
    </div>

</div>

