@model IEnumerable<SocialMedia>



    <div class="col-md-6 col-lg-3">
        <div class="item">
            <h6>SOCIAL MEDIA</h6>
            <ul class="list-unstyled mt-4">
                @foreach (var socialMedia in Model)
                {
                    <li><a class="text-black-50" href="">@socialMedia.Media</a></li>
                }
            </ul>
        </div>
    </div>

